/* Përdor stilime për të bërë faqen më tërheqëse */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #007bff;
    margin-top: 20px;
}

p {
    text-align: center;
    font-size: 18px;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
form input, form textarea {
    font-size: 16px;
}

form button:hover {
    background-color: #0056b3;
}